.block{
    border : 2px solid black ;
    border-radius: 25%;
    height: 100px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
    margin : 0.22rem;
    cursor: pointer;
    font-family: sans-serif;
}
.block:hover{
    transform: scale(1.05);
}
.row{
    display: flex;
    width: 50vh;
}
.board{
    height: 50vh;
    width: 50vh;
    padding : 2em;
    margin: 2rem;
    border: 2px solid black;
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}